.product img {
    height: 100px;
    width: 150px;
    margin: 5px;
}



.product p{
    height: 50px;
    width: 160px;
    font-size:100%;
}

.product h3{
    height: 50px;
    width: 200px;
}

.price{
    font-weight: bold;
    height: 25px;
}

